
.chat-zone{
    display: flex;
    width: 100%;
}



.Main-app{
    width: 100%;
}


@media screen and (max-width: 768px){
    .AppCover{
        display: none;
        width: 0%;
    }

    .Main-app{
        width: 100%;
        /* background: red; */
    }

}

@media screen and (min-width: 768px){
    .Main-app{
        width: 65%;
        height: 100vh;
    }

    .AppCover{
        width: 35%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .App-fixed{
        position: fixed;
        color: #2F5ABB;
        height: 100%;
        box-shadow: 0px 0px 30px 0px gainsboro;
        font-family: 'Pacifico', cursive;
    }
 }



















.send-message{
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5%;
    border-radius: 3px;
    /* border: 1px solid #2F5ABB; */
    background: #ddd;
}

@media screen and (min-width: 768px){
    .send-message{
        width: 65%;
    }
    
 }



.inp{
    border-radius: 0px !important;
    outline:  none !important;
    box-shadow: none !important;
    border-radius: 5px 0px 0px 5px !important;
    height: 56px !important;
    display: block;
    padding: 1%;
    width: 80%;
    border: none;
}

.inp::placeholder{
    
}

.sear{
    border-radius: 0px !important;
    outline:  none !important;
    box-shadow: none !important;
    border-radius: 0px 5px 5px 0px !important;
    background: white !important;
    height: 56px !important;
    width: 10%;
    /* border: 1px solid #121212; */
}

@media screen and (max-width: 768px){
    .sear{
        width: 15%;
    }
 }


.sear:hover, .sear:visited, .sear:active{
    background: white;
}

.sear:focus{
    /* background: rgb(163, 157, 157) !important; */
}


.sear .fa.fa-paper-plane{
    color: #2F5ABB;
}
