:root {
  --default_blue: #2F5ABB;
}
html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
